.room-item {
    display: grid;
    /* grid-template-columns: repeat(4,auto); */
    /* text-align: center; */
    grid-gap: 30px;
    padding: 10px;
  }
  @media (min-width: 786px) {
    .room-item {
      grid-template-columns: repeat(2, auto);
    }
  }
  @media (min-width: 991px) {
    .room-item {
      grid-template-columns: repeat(3, auto);
    }
  }